// app global css in SCSS form

$form-grid-columns: 12;
$form-grid-gap: 8px;
$form-grid-breakpoints: (
  sm: 600px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
);

.form-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$form-grid-gap;
  margin-right: -$form-grid-gap;
}

.form-grid__item {
  padding-left: $form-grid-gap;
  padding-right: $form-grid-gap;
  box-sizing: border-box;
  flex: 0 0 100%;
}

@for $i from 1 through $form-grid-columns {
  .form-grid__item--span-#{$i} {
    flex-basis: percentage($i / $form-grid-columns);
    max-width: percentage($i / $form-grid-columns);
  }
}

@each $name, $minWidth in $form-grid-breakpoints {
  @media (min-width: $minWidth) {
    @for $i from 1 through $form-grid-columns {
      .form-grid__item--span-#{$name}-#{$i} {
        flex-basis: percentage($i / $form-grid-columns);
        max-width: percentage($i / $form-grid-columns);
      }
    }
  }
}
